:root{
    --principal:#ff3355;
    --secundario:#252525;
    --blanco: #FFFFFF;
}
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*Todo lo del Header*/

header{
    background-color: var(--principal);
}

.nav_principal{
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > a{
    color: var(--blanco);
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.headermenuizq{
    margin-left: 1rem;
}

.headermenuizq > nav{
    margin-right: 3rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.logo > p{
    margin: 1rem;
}

.headermenuder{
    margin-right: 1rem;
}

.navbar > a:hover{
    background-color: var(--blanco);
    border-radius: .3rem;
    color: var(--secundario);
    padding: .3rem;
}

/*Todo lo del Body*/

body{
    background-color: var(--secundario);
}

.princ{
    padding: 3rem;
}

.prom_princ{
    border-radius: 1rem;
    background-color: var(--blanco);
    padding: 1rem 2rem 3rem 2rem;
    margin-bottom: 5rem;
    height: 30rem;

}

.photo{
    width: 20rem;
    margin-top: 0;
}


.swiper-container {
    width: 80%;
    max-width: 1000px; /* Por ejemplo, un ancho máximo de 1000px */
    margin: 0 23rem;
  }
  
  

/*
.scroll-content {
    white-space: nowrap;
    animation: scrollAnimation 30s linear infinite;
  }

  @keyframes scrollAnimation {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
*/



.peliculas1{
    border-radius: 1.5rem;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
}

#elementId {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
    padding: 0;
}

.movie-item {
    flex: 1 1 calc(33.333% - 20px); /* Tres elementos por fila */
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; /* Eliminar los puntos de la lista */
    background: #f5f5f5; /* Fondo opcional para mejor visualización */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.movie-poster {
    width: 25rem; /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 10px;
}

.movie-text {
    text-align: center;
}

.pelis{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252525;
}

.peliculas1 > a{
    text-decoration: none;
    margin: 1rem;

}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    list-style-type: none; /* Para eliminar los puntos de la lista */
}

.movie-poster {
    max-width: 20rem; /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 10px;
}

.movie-text {
    text-align: center;
}


.pelis:hover{
    padding: .1rem;
    background-color: var(--principal);
    color: var(--blanco);
}

img{
    width: 25rem;
    margin-top: 2rem;
    padding: 1rem 2rem ;
}

.sombra{
    box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.75);
-webkit-box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.75);
-moz-box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.75);
    background-color: var(--blanco);
    border-radius: 1rem;
}

/* Todo lo del Footer */
